:root {
  --bg-color: linear-gradient(135deg, #021d41, #850494);
  --button-color: #131a4c;
  --white-color: #fffcfc;
  --input-color: #d7d9e1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #414d61;
}
.container {
  min-height: 100vh;
  background: var(--bg-color);
  width: 100%;
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: var(--white-color);
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
  h3 {
    margin-bottom: 30px;
  }

  .input {
    background-color: var(--input-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;
    input {
      padding: 5px;
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
    }
    button {
      border: none;
      background-color: var(--button-color);
      border-radius: 7px;
      padding: 10px 20px;
      text-align: center;
      color: var(--white-color);
      cursor: pointer;
    }
  }
  ul{
    padding: 10px;
    li{
        list-style: none;
        padding: 5px;
    }
  }
}
